*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: #8E919D;
    overflow-x: hidden;
    

}

.container{
    padding: 0px 100px;
}

/* Header-Section */

.header-section{
    width: 100vw;
    height: 120vh;
    background-color: #FFF8F3;
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    padding: 50px 50px ;
    

}



.menu-bar{
    display: flex;
    
}

.logo-side{
    width: 30%;
}

.logo-side h1{
    color: black;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.logo-side h1 span{
    color: #FD6E0A;
}

.menu-side{
    width: 70%;
    
}

.menu-side ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.menu-side ul li{
    display: inline-block;
    margin-left: 30px;
   
}



.menu-side ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 15px;
    transition: 0.4s ease-in-out;
}

.menu-side ul li a:hover{
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
}


.menu-side ul li.active a{
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
}

/* banner-section */

.banner{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.banner .detais{
    width: 50%;
    padding-top: 100px;
}

.banner .detais h2{
    color: #000000;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.banner .detais h1{
    color: #000000;
    font-size: 80px;
    font-weight: bold;
}

.banner .detais p{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}

.Button{
    font-size: 18px;
    width: 600;
    color: #ffffff;
    text-transform: capitalize;
    padding: 15px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}

.Button:hover{
    color: #000000;
}


.banner .image{
    width: 50%;
    margin-bottom: 0px;
}

.banner .image img{
    float: right;
}

/* About-section */

.About-Section{
    width: 100vw;
    height: 90vh;
    background-color: #FFFFFF;
    padding: 0px 50px ;
    margin-bottom: 0px;
    
    
}

.About-Section .row{
    padding: 100px 50px;
}

.About-Section .row h2{
font-size: 30px;
color: black;
font-weight: bold;
text-align: center;
text-transform: capitalize;
padding: 20px 0px;

}



.About-Section .row p{
    font-size: 20px;
    color: skyblue;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 20px 0px;

}

.About-Section .row ul{
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 20px 0px;
    
}

.About-Section .row ul li{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;

}

/* portfolio-section */

.portfolio-section{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 50px 50px ;
    
}

.portfolio-section h2{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
    text-align: center;
    padding: 30px 0px;
}

.portfolio-section .row{
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}

/* img-1 */
.portfolio-section .row .img-1{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;width: 50%;
    background-color: F8F9Fc;
    margin-right: 10px;
    padding: 30px;
    border-radius: 15px;
}



.portfolio-section .row .img-1 h3{
    font-size: 25px;
    padding: 20px 0px;
    color: #000000;
    text-transform: capitalize;
}

.portfolio-section .row .img-1 p{
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
    text-transform: lowercase;
}


/* img-2 */

.portfolio-section .row .img-2{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 50%;
    background-color: F8F9Fc;
    margin-right: 20px;
    margin-left: 25px;
    padding: 30px;
    border-radius: 15px;
}

.portfolio-section .row .img-2 img{
    padding: 0% 0%;

}

.portfolio-section .row .img-2 h3{
    font-size: 25px;
    padding: 20px 0px;
    color: #000000;
    text-transform: capitalize;
}

.portfolio-section .row .img-2 p{
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
    text-transform: lowercase;
}


/* img-3 */

.portfolio-section .row .img-3{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 50%;
    background-color: F8F9Fc;
    margin-right: 50px;
    margin-left: 25px;
    padding: 30px;
    border-radius: 15px;
}

.portfolio-section .row .img-3 img{
    padding: 0% 0%;

}

.portfolio-section .row .img-3 h3{
    font-size: 25px;
    padding: 20px 0px;
    color: #000000;
    text-transform: capitalize;
}

.portfolio-section .row .img-3 p{
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
    text-transform: lowercase;
}


/* img-4 */

.portfolio-section .row .img-4{
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    width: 50%;
    background-color: F8F9Fc;
    margin-right: 50px;
    padding: 30px;
    border-radius: 15px;
}

.portfolio-section .row .img-4 img{
    padding: 0% 0%;

}

.portfolio-section .row .img-4 h3{
    font-size: 25px;
    padding: 20px 0px;
    color: #000000;
    text-transform: capitalize;
}

.portfolio-section .row .img-4 p{
    font-size: 20px;
    font-weight: bold;
    color: skyblue;
    text-transform: lowercase;
}

/* Resume-section */
.Resume-section{
    align-items: center;
    display: flex;
}
.Resume-section h1{
    font-size: 35px;
    text-align: center;
    padding: 50px 50px;
    color: #000000;
    font-weight: bold;
}

.Resume-section .row{
    display: flex;

}

.Resume-section .row .education-left{
    float: left;
}

.Resume-section .row .experienc-right{
    float: right;
}

.Resume-section a{
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: #185E6D; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #185E6D 50%, #ff3131 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    justify-content: center;
    margin-left: 37%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.Resume-section a:hover{
    background-position: left;
}

.Resume-section .row .education-left .content-1 h2{
    margin-bottom: 20px;
    color: #000000;

}

.Resume-section .row .education-left .content-1 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .education-left .content-2 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .education-left .content-3 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .education-left .content-1 p{
    margin-bottom: 20px;

}

.Resume-section .row .education-left h2{
    margin-bottom: 20px;
    color: green;
}

.Resume-section .row .education-left .content-2 h2{
    margin-bottom: 20px;
    color: #000000;
} 

.Resume-section .row .education-left .content-2 p{
    margin-bottom: 20px;
}

.Resume-section .row .education-left .content-3 h2{
    margin-bottom: 20px;
    color: #000000;
}

.Resume-section .row .experienc-right .content-1 h2{
    margin-bottom: 20px;
    color: #000000;
}

.Resume-section .row .experienc-right .content-1 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .experienc-right .content-2 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .experienc-right .content-3 h3{
    margin-bottom: 10px;
    color: #185E6D;
}

.Resume-section .row .experienc-right .content-1 p{
    margin-bottom: 20px;
}

.Resume-section .row .experienc-right .content-2 h2{
    margin-bottom: 20px;
    color: #000000;
}

.Resume-section .row .experienc-right .content-2 p{
    margin-bottom: 20px;
}

.Resume-section .row .experienc-right .content-3 h2{
    margin-bottom: 20px;
    color: #000000;
}

.Resume-section .row .experienc-right h2{
    margin-bottom: 20px;
    color: green;
}

/* footer-section */


.footer-section .row{
    padding: 50px 50px;
    display: flex;
    align-items: center;
    background-color: #FFF8F3;
    width: 85vw;
    height: 85vh;

}

.footer-section .row .connect-left{
    float: left;
    width: 50%;
    padding-right: 20px;
}

.connect-left h2{
    font-size: 30px;
    color: #000000;
    margin-bottom: 40px;
    
    text-transform: capitalize;

}

.connect-left p{
    font-size: 20px;
    color: gray;
    margin-bottom: 40px;
    
    text-transform: capitalize;
}

.footer-section .row .massage-right{
    float: right;
    width: 50%;
    padding-left: 20px;
}

.massage-right h2{

    font-size: 30px;
    color: #000000;
    
    margin-bottom: 20px;
    text-transform: capitalize;
}

.textarea1{

    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    height: 100px;
    width: 300px;
}

.textarea2{

    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    height: 150px;
    width: 300px;

}

.bt{

    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    color: white;
    background: green; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, green 50%, black 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    justify-content: center;
}

.bt:hover{
    background-position: left
}

